@model IEnumerable<NoWait.Models.MenuItem>

@{
    ViewData["Title"] = "Menu";
}

<link rel="stylesheet" href="css/Menu/Index.css">

<div class="container">
    <div id="row">
        <div class="col-md-4">
            <h1>Products</h1>
        </div>
        <div class="row">
            <hr class="line">
        </div>
        <div class="row">
            @foreach (var item in Model) {
                <div class="col-lg-4">
                    <a asp-controller="Menu" asp-action="Details" asp-route-id="@item.MenuItemID">
                        <div class="card-body card border-0">
                            <p class="fw-bold">@item.Price €</p>
                            <img src="images/test-food.jpeg" class="rounded-circle recipe-image" alt="">
                            <h4 class="fw-bold">@item.Name</h4>
                            <h6>@item.Description</h6>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="js/Menu/index.js"></script>