@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<style>
    .txt_field label {
    position: absolute;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    }
 
    .txt_field input:focus ~ label,
    .txt_field input:valid ~ label{
    top: -7px;
    color:  mediumseagreen;
    }
    
    #login-submit{
    margin-top: 5%;
    }
    #login-form {
    padding: 20px;
    background-color: rgba(200,200,200,0.15);
    border-radius: 10px;
    }
    #forgot-password{
    color: #a6a6a6
    }
</style>
@* <h1>@ViewData["Title"]</h1> *@
<div class="row">
    <div class="col-md-4 text-center m-auto">
        <section id="login-form">
            <form id="account" method="post">
                <h3>Log In</h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-4 txt_field">
                    <input asp-for="Input.Email" class="form-control form-control-lg rounded-4" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label text-black">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4 txt_field">
                    <input asp-for="Input.Password" class="form-control form-control-lg rounded-4" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label text-black">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="float-start">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-success rounded-pill rounded-sm">Log in</button>
                </div>
                <div>
                    <p class="small mb-5 mt-3 pb-lg-2">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        Don't have an account?
                        <a class="link-info" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
