@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@* <h1>@ViewData["Title"]</h1> *@
<style>
    .txt_field label {
    position: absolute;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    }
   
    .txt_field input:focus ~ label,
    .text_field input:valid ~ label{
    top: -7px;
    color:  mediumseagreen;
    }
   
    #registerSubmit{
    margin-top: 5%;
    margin-bottom: 10%;
    }
    #register-form {
    padding: 20px;
    background-color: rgba(200,200,200,0.15);
    border-radius: 10px;
    }
</style>

<div class="row">
    <div class="col-md-4 text-center m-auto">
    <section id="register-form">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h3>Create a new account.</h3>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating mb-4 txt_field">
            <input asp-for="Input.Email" class="form-control form-control-lg rounded-4" autocomplete="username" aria-required="true"/>
            <label asp-for="Input.Email" class="form-label text-black">Email</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-4 txt_field">
            <input asp-for="Input.Password" class="form-control form-control-lg rounded-4" autocomplete="new-password" aria-required="true"/>
            <label asp-for="Input.Password" class="form-label text-black">Password</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-4 txt_field">
            <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg rounded-4" autocomplete="new-password" aria-required="true"/>
            <label asp-for="Input.ConfirmPassword" class="form-label text-black">Confirm Password</label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success rounded-pill rounded-sm">Register</button>
    </form>
    </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
